name: run pipeline actions
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

#      - name: commit changes
#        uses: stefanzweifel/git-auto-commit-action@v4
#        with:
#          commit_message: feat:Apply python changes